PREFIX="."
AUTO_READ_MESSAGES="yes"
AUTO_LIKE_STATUS="yes"
AUTO_READ_STATUS="yes"
AUTOBIO="yes"
AUTO_STATUS_MSG="I am available"
AUTO_STATUS_REPLY="no"
OWNER_NAME="MOEBOT-MD-V1"
URL="your_image_url_here"
ANTI_DELETE_MESSAGE="yes"
ANTICALL="yes"
AUTO_BLOCK="no"
AUTO_REACTION="no"
HEROKU_API_KEY="your_heroku_api_key_here"
HEROKU_APP_NAME="your_heroku_app_name_here"
SESSION_ID="your_session_id_here"
